/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.links__block {
    display: flex;
    justify-content: space-around;
}
.countrie__block {
    cursor: pointer;
}
.inner {
    background-color: #F1F1F1;
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.countrie__block h1{
    font-size: 18px;
    font-size: normal;
}

.text__active {
    font-size: 20px;
    font-size: normal;
    text-decoration: none;
    color: black;
    animation: show 1s;
}

.links__active {
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    padding-top: 5px;
    animation: show 1s;
    padding-bottom: 20px;
    visibility: visible ;
}

.hide {
  visibility: hidden;
}



@keyframes show {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cross {
    position: absolute;
    animation: show 1s;
    right: 0;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
    visibility: visible;
}
